<div class="bd-masthead mt-5" >
    <div class="container-xxl bd-gutter">
      <div class="col-md-8 mx-auto text-center">        
        <h1 class="mb-3 fw-semibold">Welcome to To-Do List</h1>
        <p class="lead mb-4">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, deserunt officia voluptates reiciendis nostrum quis! Eius aliquam, molestiae ab fugiat officia, ipsa et ut expedita earum praesentium, iusto laudantium odio. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi numquam praesentium, aspernatur neque molestias saepe animi id sit nisi ipsum corporis eaque earum quo architecto commodi, incidunt harum alias qui?
        </p>
        <div class="d-flex flex-column flex-lg-row align-items-md-stretch justify-content-md-center gap-3 mb-4">  
      </div>
      <button pButton pRipple type="button" label="Goto ToDo List" class="p-button-rounded p-button-success" routerLink="/dashboard"></button>
    </div>
  </div>

  