<div class="wrapper login">
    <div class="container">
        <div class="col-left">
            <div class="login-text">
                <h1>Forget your password ?</h1>
                <p>
            </div>
        </div>

        <div class="col-right">
            <div class="login-form">
                <h2>Reset Password</h2>
                <form (ngSubmit)="onForgetPassword(loginForm.value.email)" #loginForm="ngForm">
                    <p>
                        <label>Email address<span>*</span></label>
                        <input type="text" placeholder="Email" required email ngModel name="email" #email="ngModel">
                        <small *ngIf="!email.valid && email.touched" class="text-danger">Please Enter Email</small>
                    </p>
                    <p>                        
                        <button pButton pRipple type="submit" [disabled]="!loginForm.valid" label="Reset" class="p-button-rounded p-button-danger"></button>
                    </p>
                    <p>Enter the email address registered with your ToDoList account and click Reset.
                        You will get an password reset email
                    </p>
                </form>
            </div>
        </div>

    </div>
</div>